
.App{
	width: 406px;
	min-height:413px;
	margin:100px auto;
}
.btns{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: repeat(4, 100px);
	grid-gap: 2px;
}

.display{
	border: solid 1px black;
	min-height: 100px;
	padding-bottom:20px ;
	border-radius:10px;
	margin-bottom: 2px;
	width: 100%;
	color: #fff;
	background: #000;
	overflow-wrap: break-word;
}

.answer{
	width: 100%;
	margin-top:10px ;
	color: grey;
	font-size: 1.2rem;
	padding: 10px;
}

.values{
	width: 100%;
	font-size: 1.5rem;
	padding: 10px;
}

@media(max-width: 575.98px){
	.App{
		width: 100%;
	}

	.btns{
		grid-template-columns: repeat(4, 24%);
		grid-gap: 1%;
	}


}